:root {
    --primary-color: #0a1118;
    --primary-color-highlight: #233D54;
    --bs-bg-light: red;
}


.banner {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

body {
    background-color: #111827;
}

nav {
    backdrop-filter: blur(6px);
}