{% extends 'base.html'%}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static' , filename = 'css/404.css') }}"> 

{% endblock %}

{% block body %}

<div class="error-body">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template">
                    <h1>
                        ای بابا</h1>
                    <h2>
                        خطای ۴۰۴</h2>
                    <div class="error-details">
                        ببخشید ولی به نظر میاد صفحه ای که دنبالش هستید پیدا نشده
                    </div>
                    <div class="error-actions">
                        <a href="/" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                            من رو به خانه ام ببر </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}