<footer class="bg-dark text-center text-white mx-2 my-2"  style="border-radius: 15px;">

    <div class="container p-4">

        <section class="mb-4">

        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
            <i class="fab fa-facebook-f"></i>
        </a>
  

        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
            <i class="fab fa-twitter"></i>
        </a>
  

        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
            <i class="fab fa-google"></i>
        </a>
  

        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
            <i class="fab fa-instagram"></i>
        </a>
  

        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
            <i class="fab fa-linkedin-in"></i>
        </a>
  

        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
            <i class="fab fa-github"></i>
        </a>
      </section>

      

      <section class="">
        <form action="">

            <div class="row justify-content-center">

            <div class="col-auto">
              <p class="pt-2">
                <strong>اشتراک در سرویس ایمیل</strong>
              </p>
            </div>

            

            <div class="col-md-5 col-12">

                <div class="form-outline form-white mb-4">
                <input type="email" id="elaki" class="form-control" placeholder="آدرس ایمیل" style="text-align: right;"/>

              </div>
            </div>

            

            <div class="col-auto">

                <button type="submit" class="btn btn-outline-light mb-4">
                ثبت نام
              </button>
            </div>

        </div>

        </form>
      </section>

      

      <section class="mb-4">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
          repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
          eum harum corrupti dicta, aliquam sequi voluptate quas.
        </p>
      </section>

      

      
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2); border-radius: 15px;">
      هیچ حقوقی محفوظ نیست! ساخته شده با قهوه :)
      <a class="text-warning" href="/" style="text-decoration: none;">بیت به بیت</a>
    </div>
  </footer>