{% extends 'base.html' %}


{% block head %}
  <link rel="stylesheet" href="{{ url_for('static' , filename = 'css/signup.css') }}"> 

{% endblock %}


{% block body %}

    {% include 'navbar.html' %}

    <section class="">
        <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
          <div class="container">
            <div class="row gx-lg-5 align-items-center">
              <div class="col-lg-6 mb-5 mb-lg-0">
                <h1 class="my-5 display-2 fw-bold ls-tight">
                  بهترین مکان برای جامعه<br />
                  <span class="text-primary">برنامه نویسی</span>
                </h1>
                <p style="color: hsl(217, 10%, 50.8%)">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Eveniet, itaque accusantium odio, soluta, corrupti aliquam
                  quibusdam tempora at cupiditate quis eum maiores libero
                  veritatis? Dicta facilis sint aliquid ipsum atque?
                </p>
              </div>
      
              <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="card">
                  <div class="card-body py-5 px-md-5">
                    <form method="post">   <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                      <div class="form-outline mb-4">
                        <input type="text" id="form3Example3" class="form-control" name="username" />
                        <label class="form-label" for="form3Example3">نام کاربری</label>
                      </div>
      

                      <div class="form-outline mb-4">
                        <input type="password" id="form3Example4" class="form-control" name="password" />
                        <label class="form-label" for="form3Example4">رمز</label> 
                      </div>

                      <div class="text-center text-danger">
                        {% with messages = get_flashed_messages() %}
                          {% if messages %}
                        <p>
                            اطلاعات شما صحت ندارد.
                        </p>
                            {% endif %}
                          {% endwith %}
                      </div>

      
                      <div class="form-check d-flex justify-content-center mb-4">
                        <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                        <label class="form-check-label" for="form2Example33">
                            فعال سازی اخبار در ایمیل
                        </label>
                      </div>
                    <div class="text-center my-4">
                      <button type="submit" class="btn btn-primary btn-block mb-4">
                       ورود
                      </button>
                    </div>
      
                      <div class="text-center">
                        <p>راه های دیگر برای ورود:</p>

      
                        <button type="button" class="btn signup-icons  btn-link btn-floating mx-1">
                          <i class="fab fa-google"></i>
                        </button>
      
                        <button type="button" class="btn  signup-icons btn-link btn-floating mx-1">
                          <i class="fab fa-twitter"></i>
                        </button>
      
                        <button type="button" class="btn  signup-icons btn-link btn-floating mx-1">
                          <i class="fab fa-github"></i>
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

{% endblock %}
