<nav class="navbar navbar-expand-lg navbar-dark bg-dark mx-2 my-2">
    <div class="container">
      <a class="navbar-brand" href="#">بیت به بیت</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">خانه</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">لینک</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              دراپ داون
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">اکشون</a></li>
              <li><a class="dropdown-item" href="#">براح</li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">اهاننن</a></li>
            </ul>
          </li>

        </ul>
        <form class="d-flex">
          <ul class="navbar-nav">
            <li class="nav-item">
                <button class="btn btn-primary" type="submit">
                    <a href="/login" style="color: white; text-decoration: none;">ورود</a>
                </button>
                <button class="btn btn-info" type="submit">
                  <a href="/signup" style="color: black; text-decoration: none;">ثبت نام</a>
                </button>
            </li>
        </ul>
        </form>
        

      </div>
    </div>
</nav>