{% extends 'base.html' %}


{% block head %}
  <link rel="stylesheet" href="{{ url_for('static' , filename = 'css/signup.css') }}"> 

{% endblock %}


{% block body %}

    {% include 'navbar.html' %}

    <section class="">
        <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
          <div class="container">
            <div class="row gx-lg-5 align-items-center">
              <div class="col-lg-6 mb-5 mb-lg-0">
                <h1 class="my-5 display-2 fw-bold ls-tight">
                  بهترین مکان برای جامعه<br />
                  <span class="text-primary">برنامه نویسی</span>
                </h1>
                <p style="color: hsl(217, 10%, 50.8%)">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Eveniet, itaque accusantium odio, soluta, corrupti aliquam
                  quibusdam tempora at cupiditate quis eum maiores libero
                  veritatis? Dicta facilis sint aliquid ipsum atque?
                </p>
              </div>
      
              <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="card">
                  <div class="card-body py-5 px-md-5">
                    <form method="post">   <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                      <div class="form-outline mb-4">
                        <input type="text" id="form3Example3" class="form-control" name="username" />
                        <label class="form-label" for="form3Example3">نام کاربری</label> {% if user_error %} <p>نام کاربری تکراری است.</p> {% endif %}
                                                                                        {% if username_empty_error %}نام کاربری خالی است. {% endif %}
                      </div>

                      <div class="row">
                        <div class="col-md-6 mb-4">
                          <div class="form-outline">
                            <input type="text" id="form3Example1" class="form-control" name="first_name"/>
                            <label class="form-label" for="form3Example1">نام</label>
                          </div>
                        </div>
                        <div class="col-md-6 mb-4">
                          <div class="form-outline">
                            <input type="text" id="form3Example2" class="form-control"  name="last_name" />
                            <label class="form-label" for="form3Example2">نام خانوادگی</label> 
                          </div>
                        </div>
                      </div>
      
                      <div class="form-outline mb-4">
                        <input type="email" id="form3Example3" class="form-control" name="email" />
                        <label class="form-label" for="form3Example3">آدرس ایمیل</label>{% if email_err %} <p>ایمیل مشکل دارد.</p> {% endif %}
                      </div>
      
                      <div class="row">
                      <div class="col-6 form-outline mb-4">
                        <input type="password" id="form3Example4" class="form-control" name="password1" />
                        <label class="form-label" for="form3Example4">رمز</label> {% if weak_password %}رمز شما باید بالای ۸ کاراکتر باشد.{% endif %}
                      </div>
                      <div class="col-6 form-outline mb-4">
                        <input type="password" id="form3Example4" class="form-control" name="password2"/>
                        <label class="form-label" for="form3Example4">تکرار رمز</label> {% if password_err %}رمز شما با همخوانی ندارد.{% endif %}
                      </div>
                    </div>
      
                      <div class="form-check d-flex justify-content-center mb-4">
                        <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                        <label class="form-check-label" for="form2Example33">
                            فعال سازی اخبار در ایمیل
                        </label>
                      </div>
                    <div class="text-center my-4">
                      <button type="submit" class="btn btn-primary btn-block mb-4">
                        ثبت نام
                      </button>
                    </div>
      
                      <div class="text-center">
                        <p>راه های دیگر برای ثبت نام:</p>
                        <button type="button" class="btn signup-icons btn-link btn-floating mx-1">
                          <i class="fab fa-facebook-f"></i>
                        </button>
      
                        <button type="button" class="btn signup-icons  btn-link btn-floating mx-1">
                          <i class="fab fa-google"></i>
                        </button>
      
                        <button type="button" class="btn  signup-icons btn-link btn-floating mx-1">
                          <i class="fab fa-twitter"></i>
                        </button>
      
                        <button type="button" class="btn  signup-icons btn-link btn-floating mx-1">
                          <i class="fab fa-github"></i>
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

{% endblock %}
