<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.rtl.min.css" integrity="sha384-gXt9imSW0VcJVHezoNQsP+TNrjYXoGcrqBZJpry9zJt8PCQjobwmhMGaDHTASo9N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <style>

        @import url('https://v1.fontapi.ir/css/Vazir');
        * {
            font-family: Vazir;
            background-color: bisque;
        }

    </style>


</head>
<body>

    <div class="containter">
        <h3 class="text-center">
            به بیت به بیت خوش‌آمدین! این ایمیل برای تایید صحت ایمیل شما ارسال شده.
            <br>
            <small class="text-muted">
                برای تایید ایمیل، کد زیر را در سایت وارد کنید. 
            </small>
        </h3>

        <br><br><br><br><br>

        <p class="text-center">
            کد:
        </p>

    </div>

</body>
</html>